.Div {
  position: fixed;
  display: flex;
  margin-left: 50px;
  left: 297px;
  top: 849px;
  height: 60px;
  width: 20%;
  height: 7%;
}

.Div img {
  width: 100%;
  margin: 10px;
  box-sizing: border-box;
  display: block;
  line-height: 50px;
  font-size: 20px;
}

@media (max-width: 500px) {
  .Div {
    width: 50%;
    height: 10%;
    left: 9px;
    top: 692px;
  }
}
 
