.SideDrawer {
  transition: transform 0.3s ease-out;
  position: fixed;
  width: 506px;
  height: 1100px;
  left: 0px;
  top: 0px;

  background:  #b1b1b1;
  z-index: 200;
  box-sizing: border-box;
}
@media (max-width: 500px) {
   .SideDrawer{
    width: 280px;
    max-width: 70%;
   }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}

.FetchedNotes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  padding: 0;
  margin: 10px;
  margin-top: 110px;
  text-align: center;
  overflow: auto;
  width: 90%;
  height: 60%;   
}
