.SideDrawer {
  transition: transform 0.3s ease-out;
  position: fixed;
  width: 506px;
  height: 1100px;
  left: 0px;
  top: 0px;

  background: #397c9b;
  z-index: 200;
  box-sizing: border-box;
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}
