.SideDrawer {
  transition: transform 0.3s ease-out;
  position: fixed;
  width: 506px;
  height: 1100px;
  left: 0px;
  top: 0px;

  background:  #b1b1b1;
  z-index: 200;
  box-sizing: border-box;
}
@media (max-width: 500px) {
   .SideDrawer{
    width: 280px;
    max-width: 70%;
   }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}
