.FetchedNote {
  width: 80%;
  border-radius: 50px;
  background: linear-gradient(145deg, #9f9f9f, #bdbdbd);
  box-shadow: 20px 20px 60px #969696, -20px -20px 60px #cccccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
}
